/*..........
custom style sheet for kinlab website
created by students at minneapolis
community and technical college.
portfolio and class project,
not for personal use.
..........*/

/*..........IMPORTS AND FONTS..........*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700|Poppins');

/*..........COLORS..........*/
/*..........#ED811E Orange..........*/
/*..........#1E439B Cerulean Blue..........*/
/*..........#4B69AF Light Cerulean Blue..........*/
/*..........#D7E4EB Light Blue..........*/

/*..........BODY ELEMENTS..........*/
html{
    cursor: default;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

header {
    background: #1E439B;
    height: 60px;
    margin-bottom: 20px;
}

footer {
    background: #1E439B;
    margin-top: 20px;
}

header img,
footer img {
    margin: 5px 0;
    padding: 3px;
}



/*..........TEXT ELEMENTS..........*/

h1 {
    font-family: "Roboto Slab", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    color: #1E439B;
    text-transform: lowercase;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 3.1rem;
}

h3, h4 {
    font-size: 2.6rem;
}

/*..........NAVIGATION ELEMENTS..........*/
a, a:link, a:visited {
    color: #ED811E;
    text-decoration: underline;
    transition: all .3s linear;
}

a:hover, a:focus, a:active {
    color: #000;
    text-decoration: underline;
    transition: all .3s linear;
}

.main-navigation {
    float: left;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.main-navigation > li {
    display: inline-block;
    margin: 0 5px;
    transition: all .3s linear;
}

.main-navigation > li > a {
    padding: 0 25px;
    line-height: 6rem;
    text-decoration: none;
    text-transform: lowercase;
    color: #FFF;
    font-size: 1.5rem;
    display: block;
    background-color: transparent;
    transition: background-color .3s linear;
}

.main-navigation > li:last-child > a {
    color: #ED811E;
    font-weight: 700;
    transition: all .3s linear;
}

.main-navigation > li:hover > a,
.main-navigation > li:focus > a,
.main-navigation > li:active > a {
    background-color: #4B69AF;
    transition: background-color .3s linear;
}

.main-navigation li .sub-navigation {
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
}

.main-navigation li.submenu:hover .sub-navigation {
    /*display: block;*/
    visibility: visible;
    opacity: 1;
    transition: all .3s linear;
}

.sub-navigation {
    position: absolute;
    background-color: #4B69AF;
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
    z-index: 5;
    border-radius: 0 0 3px 3px;
    /*box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, .15);*/
    transition: all .3s linear;
}

.sub-navigation > li {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
    transition: all .3s linear;
}

.sub-navigation > li > a {
    text-decoration: none;
    padding: 10px 0 10px 25px;
    display: block;
    color: #FFF;
    transition: all .2s linear;
}

.sub-navigation > li:hover > a {
    color: #ED811E;
    transition: all .2s linear;
}

footer {
    margin-top:15px;
    color: #FFF;
    font-size: 1.2rem;
    text-transform: uppercase;
}

footer img {
    max-width: 65px;
    vertical-align: middle;
    display: inline;
}

footer p {
    display: inline-block;
}

footer .footer-links p {
    text-align: right;
    margin: 3em 0 0;
    display: block;
}

footer .footer-links a {
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
}

footer .footer-links a:hover {
    color: #000;
}

/*..........CUSTOM ELEMENTS..........*/
.footer-logo {
    max-width: 65px;
}
#totop {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.fa-angle-up {
    color: #ED811E;
    font-size: 3em;
    background-color: #1E439B;
    padding: 10px;
}
.fa-angle-up:hover {
    color: #fff;
    -webkit-transform:        rotate(360deg);
    -moz-transform:           rotate(360deg);
    -ms-transform:            rotate(360deg);
    -o-transform:             rotate(360deg);
    transform:                rotate(360deg);
    -webkit-transform-origin: center;
    -moz-transform-origin:    center;
    -ms-transform-origin:     center;
    -o-transform-origin:      center;
    transform-origin:         center;
    transition:               transform 550ms ease;
    -moz-transition:          -moz-transform 550ms ease;
    -ms-transition:           -ms-transform 550ms ease;
    -o-transition:            -o-transform 550ms ease;
    -webkit-transition:       -webkit-transform 550ms ease;
}
/*..........SKELETON MODIFICATIONS..........*/

/*..........MEDIA QUERIES..........*/

/* Larger than mobile */

@media (max-width: 400px) {
    .fa-angle-up {
        display: none;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width:401px) and (max-width: 767px) {
    .fa-angle-up {
        display: none;
    }
}

/* Larger than tablet */
@media (min-width: 768px) and (max-width:999px) {
}

/* Larger than desktop */
@media (min-width: 1000px) and (max-width:1999px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}