/*..........
custom style sheet for kinlab website
created by students at minneapolis
community and technical college.
portfolio and class project,
not for personal use.
..........*/

/*..........IMPORTS AND FONTS..........*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700|Poppins');

/*..........COLORS..........*/
/*..........#ED811E Orange..........*/
/*..........#1E439B Cerulean Blue..........*/
/*..........#4B69AF Light Cerulean Blue..........*/
/*..........#D7E4EB Light Blue..........*/

/*..........BODY ELEMENTS..........*/
html{
    cursor: default;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

header {
    background: #1E439B;
    height: 60px;
    margin-bottom: 20px;
}

header img {
    margin: 5px 0;
    padding: 3px;
}

/*..........TEXT ELEMENTS..........*/

h1 {
    font-family: "Roboto Slab", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    color: #1E439B;
    text-transform: lowercase;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 3.1rem;
}

h3, h4 {
    font-size: 2.6rem;
}

/*..........NAVIGATION ELEMENTS..........*/
a, a:link, a:visited {
    color: #ED811E;
    text-decoration: underline;
}

a:hover, a:focus, a:active {
    color: #000;
    text-decoration: underline;
}

.main-navigation {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.main-navigation > li {
    display: inline-block;
    margin: 0 5px;
}

.main-navigation > li > a {
    padding: 0 25px;
    line-height: 6rem;
    text-decoration: none;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    color: #FFF;
    font-size: 1.5rem;
    display: block;
    font-weight: 300;
    background-color: transparent;
    transition: background-color .3s linear;
}

.main-navigation > li:last-child > a {
    color: #ED811E;
}

.main-navigation > li:hover > a,
.main-navigation > li:focus > a,
.main-navigation > li:active > a {
    background-color: rgba(255, 255, 255, .2);
    transition: background-color .3s linear;
}

.main-navigation li .sub-navigation {
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;
}

.main-navigation li.submenu:hover .sub-navigation {
    /*display: block;*/
    visibility: visible;
    opacity: 1;
    transition: all .3s linear;
}

.sub-navigation {
    position: absolute;
    background-color: #4B69AF;
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
    z-index: 5;
    border-radius: 0 0 3px 3px;
    /*box-shadow: 0 1.5px 4px 0 rgba(0, 0, 0, .15);*/
    transition: all .3s linear;
}

.sub-navigation > li {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

.sub-navigation > li > a {
    text-decoration: none;
    padding: 10px 0 10px 25px;
    font-weight: 300;
}
.main-navigation > li:hover > a,
.main-navigation > li:focus > a,
.main-navigation > li:active > a {
    background: rgba(0,0,0,.2);
}
.main-navigation li .sub-navigation {
    display: none;
}
.main-navigation li.submenu:hover .sub-navigation {
    display: block;
    /*background-color: inherit;*/
}


/*..........CUSTOM ELEMENTS..........*/

/*..........SKELETON MODIFICATIONS..........*/

/*..........MEDIA QUERIES..........*/

/* Larger than mobile */

@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}